<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="text" required="true" scope="shop">
            <name>orderWsdlPath</name>
            <label>WSDL Pfad - Bestellungen</label>
            <description>Der WSDL Pfad für Bestellungen.</description>
        </element>

        <element type="text" required="true" scope="shop">
            <name>printerWsdlPath</name>
            <label>WSDL Pfad - Drucker</label>
            <description>Der WSDL Pfad für Drucker.</description>
        </element>

        <element type="text" required="true">
            <name>serverAddress</name>
            <label>Serveraddresse</label>
            <description>Die Adresse des Servers.</description>
        </element>

        <element type="select" required="true">
            <name>serverEnvironment</name>
            <label>Umgebung - Bestellungen</label>
            <description>Welche Umgebung soll genutzt werden?</description>
            <store>
                <option>
                    <value>OST_ECHT</value>
                    <label>OST_ECHT</label>
                </option>
                <option>
                    <value>OST_ECHT;RPG</value>
                    <label>OST_ECHT;RPG</label>
                </option>
                <option>
                    <value>OST_QSK</value>
                    <label>OST_QSK</label>
                </option>
                <option>
                    <value>OST_QSK;RPG</value>
                    <label>OST_QSK;RPG</label>
                </option>
                <option>
                    <value>OST_QSC</value>
                    <label>OST_QSC</label>
                </option>
            </store>
        </element>

        <element type="select" required="true">
            <name>serverEnvironmentPrinter</name>
            <label>Umgebung - Drucker</label>
            <description>Welche Umgebung soll genutzt werden?</description>
            <store>
                <option>
                    <value>OST_ECHT</value>
                    <label>OST_ECHT</label>
                </option>
                <option>
                    <value>OST_ECHT;RPG</value>
                    <label>OST_ECHT;RPG</label>
                </option>
                <option>
                    <value>OST_QSK</value>
                    <label>OST_QSK</label>
                </option>
                <option>
                    <value>OST_QSK;RPG</value>
                    <label>OST_QSK;RPG</label>
                </option>
                <option>
                    <value>OST_QSC</value>
                    <label>OST_QSC</label>
                </option>
            </store>
        </element>

        <element type="button">
            <name>apiButton</name>
            <label><![CDATA[<b>API Parameter Einstellungen</b>]]></label>
        </element>

        <element type="number" required="true" scope="shop">
            <name>companyNumber</name>
            <label>Firma</label>
            <description>Welche Firma ist aktiv? 1 = Ostermann, 3 = Trends</description>
        </element>

        <element type="select" required="true">
            <name>bakz</name>
            <label>Auftragseingangsart</label>
            <description>Die Auftragsart der Bestellung.</description>
            <store>
                <option>
                    <value>A</value>
                    <label>Aufmaß</label>
                </option>
                <option>
                    <value>D</value>
                    <label>Direkterfassung</label>
                </option>
                <option>
                    <value>F</value>
                    <label>Per Fax</label>
                </option>
                <option>
                    <value>I</value>
                    <label>Internet</label>
                </option>
                <option>
                    <value>K</value>
                    <label>Übergabe aus KMP</label>
                </option>
                <option>
                    <value>N</value>
                    <label>Nacherfassung</label>
                </option>
                <option>
                    <value>R</value>
                    <label>Rückfrage Kunde</label>
                </option>
                <option>
                    <value>S</value>
                    <label>Schriftlich</label>
                </option>
                <option>
                    <value>T</value>
                    <label>Per Telefon</label>
                </option>
            </store>
        </element>

        <element type="button">
            <name>shippingButton</name>
            <label><![CDATA[<b>Versandkosten</b>]]></label>
        </element>

        <element type="text">
            <name>shippingArticleNumber</name>
            <label>Artikelnummer</label>
            <value>131186</value>
            <description>Die Artikelnummer der Position.</description>
        </element>

        <element type="text">
            <name>shippingType</name>
            <label>Positionsart</label>
            <value>D</value>
            <description>Die Positionsart.</description>
        </element>

        <element type="text">
            <name>shippingDesiredDateType</name>
            <label>Terminart</label>
            <value>F</value>
            <description>Die Terminart der Position.</description>
        </element>

        <element type="text">
            <name>shippingServiceType</name>
            <label>Servicegrad</label>
            <value>LO</value>
            <description>Der Servicegrad der Position.</description>
        </element>

        <element type="button">
            <name>attributeShippingPaymentButton</name>
            <label><![CDATA[<b>Attribute Zahlungs- / Versandarten</b>]]></label>
        </element>

        <element type="text">
            <name>attributePayment</name>
            <label>Zuordnung Zahlungsart</label>
            <value>ostcogitosoapapimapping</value>
            <description>In welchem Attribut der Zahlungsart steht die ID für die Cogito SOAP API?</description>
        </element>

        <element type="text">
            <name>attributeShipping</name>
            <label>Zuordnung Versandart</label>
            <value>ostcogitosoapapimapping</value>
            <description>In welchem Attribut der Versandart steht die ID für die Cogito SOAP API?</description>
        </element>

        <element type="text">
            <name>attributeShippingIgnoreCosts</name>
            <label>Übertragung von Versandkosten</label>
            <value>ostcogitosoapapiignoreshippingcosts</value>
            <description>In welchem boolean Attribut der Versandart ist definiert, ob der SOAP API -KEINE- Versandkosten übergeben werden sollen? Kostenlose Versandarten (z.B. Selbstabholung) sollten keine Versandkosten übergeben und das boolean Attribut aktiviert haben.</description>
        </element>

        <element type="button">
            <name>attributeCustomerNotificationTypeButton</name>
            <label><![CDATA[<b>Attribute Benachrichtigungsart</b>]]></label>
        </element>

        <element type="text">
            <name>attributeCustomerNotificationType</name>
            <label>Benachrichtigungsart</label>
            <value>ost_consultant_customer_notification_type</value>
            <description>In welchem Attribut der Bestellung (s_order_attributes) steht das Kennzeichen der Benachrichtigungsart?</description>
        </element>

        <element type="button">
            <name>attributeAdvancePaymentButton</name>
            <label><![CDATA[<b>Attribute Anzahlungen</b>]]></label>
        </element>
        
        <element type="text">
            <name>attributeOrderAdvancePayment</name>
            <label>Anzahlung</label>
            <value>ost_consultant_advance_payment</value>
            <description>In welchem Attribut der Bestellung (s_order_attributes) steht die Anzahlung in Euro?</description>
        </element>

        <element type="button">
            <name>attributePickupDateButton</name>
            <label><![CDATA[<b>Attribute Wunschtermin</b>]]></label>
        </element>

        <element type="text">
            <name>attributePickupDate</name>
            <label>Wunschtermin</label>
            <value>ost_consultant_pickup_date</value>
            <description>In welchem Attribut der Bestellung (s_order_attributes) steht der Wunschtermin des Kunden?</description>
        </element>

        <element type="button">
            <name>attributeDiscountButton</name>
            <label><![CDATA[<b>Attribute Nachlässe</b>]]></label>
        </element>

        <element type="text">
            <name>attributeDiscountStatus</name>
            <label>Status</label>
            <value>ost_consultant_discount_status</value>
            <description>In welchem Attribut der Artikel einer Bestellung (s_order_details_attributes) ist der Artikel als Nachlass definiert?</description>
        </element>

        <element type="text">
            <name>attributeDiscountNumber</name>
            <label>Schlüssel</label>
            <value>ost_consultant_discount_number</value>
            <description>In welchem Attribut des Artikels ist der Schlüssel des Nachlasses hinterlegt?</description>
        </element>

        <element type="text">
            <name>attributeDiscountType</name>
            <label>Typ</label>
            <value>ost_consultant_discount_type</value>
            <description>In welchem Attribut des Artikels ist der Typ des Nachlasses hinterlegt? P: prozentual, A: absolut</description>
        </element>

        <element type="text">
            <name>attributeDiscountValue</name>
            <label>Wert</label>
            <value>ost_consultant_discount_value</value>
            <description>In welchem Attribut des Artikels ist der Wert des Nachlasses hinterlegt?</description>
        </element>

        <element type="text">
            <name>attributeDiscountParentNumber</name>
            <label>Vater</label>
            <value>ost_consultant_discount_parent_number</value>
            <description>In welchem Attribut des Artikels ist die Artikelnummer des Vaters hinterlegt? Auf diesen Artikel bezieht sich der Nachlass.</description>
        </element>

        <element type="button">
            <name>debugButton</name>
            <label><![CDATA[<b>Debug Einstellungen</b>]]></label>
        </element>

        <element type="boolean">
            <name>debugLogStatus</name>
            <label>Protokoll aktivieren</label>
            <description>Sollen die .xml Dateien gespeichert werden? Der Dateiname folgt dem Schema: (order/printer)_xml.Y-m-d-H-i-s.abcdefgh.xml</description>
        </element>

        <element type="text">
            <name>debugLogDirectory</name>
            <label>Protokoll Ordner</label>
            <description>In welchen Unterordner sollen die .xml Dateien gespeichert werden? Standardmäßig werden die .xml Dateien im Shop Stammverzeichnis gespeichert.</description>
        </element>

        <element type="button">
            <name>testButton</name>
            <label><![CDATA[<b>Test Einstellungen</b>]]></label>
        </element>

        <element type="boolean" required="false">
            <name>testModeEnabled</name>
            <label>Test aktivieren</label>
            <description>Soll der Testmodus aktiviert werden?</description>
        </element>

        <element type="text" required="false">
            <name>testPrinter</name>
            <label>Drucker</label>
            <description>Welcher Drucker soll zum Testen verwendet werden?</description>
        </element>

        <element type="text" required="false">
            <name>testOrdernumber</name>
            <label>Bestellnummer</label>
            <description>Welche Bestellnummer soll zum Testen verwendet werden?</description>
        </element>

    </elements>
</config>